<div class="container">
  <section [ngClass]="{'secondary': type === 'secondary'}">
    <h2>{{head}}</h2>
    <div class="slider-item">
      <div class="slider-item-container">
        <button (click)="decrementIndex(); onUserInteraction()" class="sliderButtonBig">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 19L8 12L15 5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <div class="inner-item">
          <p class="title">{{elements[sliderIndex].title}}</p>
          <app-image src={{elements[sliderIndex].image}}></app-image>
        </div>
        <button (click)="incrementIndex(); onUserInteraction()" class="sliderButtonBig">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5L16 12L9 19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>

        <div class="buttons" class="smallButtons">
          <button (click)="decrementIndex(); onUserInteraction()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 19L8 12L15 5" stroke="black" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
          <button (click)="incrementIndex(); onUserInteraction()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 5L16 12L9 19" stroke="black" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>

      <app-button [href]="href" [local]="local" class="buttonBig"></app-button>

    </div>
  </section>
</div>