$mainRadius: 8000px;
$sectionRadius: 24px;
$imgRadius: 24px;
$NavbarBackground: rgba(255, 255, 255, 0.7);
$glassyEffect: blur(12px);
$activeLinkBackgroundColor: #ffeafa;
$secondarySectionBackgroundColor: #ffeafa;
$mainColor: #e437ff;
$NavbarShadow: 0px 0px 5px 2px rgb(255, 234, 250, 1);
$uiElementsShadow: 0px 0px 20px 20px rgb(255, 234, 250, 1);
$reverseTextColor: #ffffff;
$imageBorderColor: #ffcaf2;
$linearMain: #e437ffee;
$linearSecondary: #ffffffee;
$mainTextColor: #000000;
